.productElement {
  background: white;
  padding: 16px;
  width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  border: 1px solid #000;
  outline: none;
}

.productElementImage {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  border-radius: 8px;
}

.productElementDetails {
  margin-top: 12px;
}

.productElementName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 20px;
}

.productElementPrice {
  font-size: 16px;
  color: #ff5722;
}
